<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_funny_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 示例界面：设备信息 -->
        <activity
            android:name=".deviceinfo.TestUIDeviceInfo"
            android:exported="false" />

        <!-- 示例界面：时间管理 -->
        <activity
            android:name=".datetime.TestUIDateTime"
            android:exported="false" />

        <!-- 示例界面：系统兼容性 -->
        <activity
            android:name=".compatibility.TestUICompatibility"
            android:exported="false" />

        <!-- 示例界面：进程管理 -->
        <activity
            android:name=".process.TestUIProcess"
            android:exported="false"
            android:process=":sub" />

        <!-- 示例界面：隐藏接口 -->
        <activity
            android:name=".hideapi.TestUIHideAPI"
            android:exported="false" />

        <!-- 示例界面：设备信息(KT) -->
        <activity
            android:name=".deviceinfo.TestUIDeviceInfoKT"
            android:exported="false" />

        <!-- 示例界面：时间管理(KT) -->
        <activity
            android:name=".datetime.TestUIDateTimeKT"
            android:exported="false" />
    </application>
</manifest>
