<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bi4vmr.study">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_funny_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">

        <activity
            android:name="net.bi4vmr.study.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 示例：基本应用 -->
        <activity
            android:name=".base.DemoBaseUI"
            android:exported="false" />

        <!-- 示例：外观定制 -->
        <activity
            android:name=".style.DemoStyleUI"
            android:exported="false" />
    </application>
</manifest>
