<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.MANAGE_USERS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_funny_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/Theme.Default">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 示例界面：用户信息API -->
        <activity
            android:name=".base.TestUIUserInfo"
            android:exported="false" />

        <!-- 示例界面：用户管理API -->
        <activity
            android:name=".base.TestUIUserManager"
            android:exported="false" />

        <!-- 示例界面：跨用户交互API -->
        <!-- <activity -->
        <!--     android:name=".base.TestUI" -->
        <!--     android:exported="false" /> -->

        <!-- 示例界面：基本应用(KT) -->
        <activity
            android:name=".base.TestUIUserInfoKT"
            android:exported="false" />
    </application>
</manifest>
