<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_funny_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 示例界面：布局文件 -->
        <activity
            android:name=".layout.TestUILayout"
            android:exported="false" />

        <!-- 示例界面：手动加载布局文件 -->
        <activity
            android:name=".layout.TestUILayoutInflater"
            android:exported="false" />

        <!-- 示例界面：常用方法 -->
        <activity
            android:name=".function.TestUIFunction"
            android:exported="false" />

        <!-- 示例界面：常用方法 - 获取控件引用 -->
        <activity
            android:name=".function.TestUIFunctionGetView"
            android:exported="false" />

        <!-- 示例界面：常用方法 - 创建控件实例 -->
        <activity
            android:name=".function.TestUIFunctionCreateView"
            android:exported="false" />

        <!-- 示例界面：常用方法 - 裁剪子View -->
        <activity
            android:name=".function.TestUIFunctionClip"
            android:exported="false" />

        <!-- 示例界面：事件监听器 -->
        <activity
            android:name=".event.TestUIEvent"
            android:exported="false" />

        <!-- 示例界面：实用技巧 -->
        <activity
            android:name=".skills.TestUISkills"
            android:exported="false" />

        <!-- 示例界面：布局文件(KT) -->
        <activity
            android:name=".layout.TestUILayoutKT"
            android:exported="false" />

        <!-- 示例界面：手动加载布局文件(KT) -->
        <activity
            android:name=".layout.TestUILayoutInflaterKT"
            android:exported="false" />

        <!-- 示例界面：常用方法(KT) -->
        <activity
            android:name=".function.TestUIFunctionKT"
            android:exported="false" />

        <!-- 示例界面：常用方法 - 获取控件引用(KT) -->
        <activity
            android:name=".function.TestUIFunctionGetViewKT"
            android:exported="false" />

        <!-- 示例界面：常用方法 - 创建控件实例(KT) -->
        <activity
            android:name=".function.TestUIFunctionCreateViewKT"
            android:exported="false" />

        <!-- 示例界面：事件监听器(KT) -->
        <activity
            android:name=".event.TestUIEventKT"
            android:exported="false" />

        <!-- 示例界面：实用技巧(KT) -->
        <activity
            android:name=".skills.TestUISkillsKT"
            android:exported="false" />
    </application>
</manifest>
