<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bi4vmr.study">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_funny_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 示例界面：基本应用 -->
        <activity
            android:name=".base.TestUIBase"
            android:exported="false" />

        <!-- 示例界面：点击事件 -->
        <activity
            android:name=".clickevent.TestUIClickEvent"
            android:exported="false" />

        <!-- 示例界面：多种View类型 -->
        <activity
            android:name=".viewtype.TestUIViewType"
            android:exported="false" />

        <!-- 示例界面：动态更新列表 -->
        <activity
            android:name=".updatelist.DemoUpdateListUI"
            android:exported="false" />

        <!-- 示例界面：局部刷新 -->
        <activity
            android:name=".updateitem.DemoUpdateItemUI"
            android:exported="false" />

        <!-- 示例界面：DiffUtil -->
        <activity
            android:name=".diffutil.DemoDiffUtilUI"
            android:exported="false" />

        <!-- 示例界面：缓存与复用 -->
        <activity
            android:name=".viewcache.DemoViewCacheUI"
            android:exported="false" />

        <!-- 示例界面：基本应用(KT) -->
        <activity
            android:name=".base.TestUIBaseKT"
            android:exported="false" />

        <!-- 示例界面：点击事件(KT) -->
        <activity
            android:name=".clickevent.TestUIClickEventKT"
            android:exported="false" />
    </application>
</manifest>
