<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bi4vmr.study.ui.ctrlbase.button">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_funny_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">

        <activity
            android:name="net.bi4vmr.study.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.bi4vmr.study.demo01.Demo01Activity"
            android:exported="false" />

        <activity
            android:name="net.bi4vmr.study.demo02.Demo02Activity"
            android:exported="false" />

        <activity
            android:name="net.bi4vmr.study.demo03.Demo03Activity"
            android:exported="false" />
    </application>
</manifest>
