<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_funny_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 示例界面：基本应用 -->
        <activity
            android:name=".base.TestUIBase"
            android:exported="false" />

        <!-- 示例界面：主题 -->
        <activity
            android:name=".theme.TestUITheme"
            android:exported="false"
            android:theme="@style/Theme.Custom" />

        <!-- 示例界面：常用属性 -->
        <activity
            android:name=".themeattr.TestUIThemeAttr"
            android:exported="false"
            android:theme="@style/Theme.AttrTest" />

        <!-- 示例界面：基本应用(KT) -->
        <activity
            android:name=".base.TestUIBaseKT"
            android:exported="false" />

        <!-- 示例界面：主题(KT) -->
        <activity
            android:name=".theme.TestUIThemeKT"
            android:exported="false"
            android:theme="@style/Theme.Custom" />

        <!-- 示例界面：常用属性(KT) -->
        <activity
            android:name=".themeattr.TestUIThemeAttrKT"
            android:exported="false"
            android:theme="@style/Theme.AttrTest" />
    </application>
</manifest>
